include header
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Contact | Salon Master
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/prettyPhoto.css', rel='stylesheet')
    link(href='/css/price-range.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    link(href='/css/responsive.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/images/ico/apple-touch-icon-57-precomposed.png')
  body
    
    #contact-page.container
      .bg
        .row
          .col-sm-8
            .contact-form
              h2.title.text-center Get In Touch
              .status.alert.alert-success(style='display: none')
              form#main-contact-form.contact-form.row(name='contact-form', method='post')
                .form-group.col-md-6
                  input#txtUserName.form-control(type='text', name='name',  placeholder='Name')
                .form-group.col-md-6
                  input#txtUserEmail.form-control(type='email', name='email',  placeholder='Email')
                .form-group.col-md-12
                  input#txtUserSubject.form-control(type='text', name='subject', placeholder='Subject')
                .form-group.col-md-12
                  textarea#message.form-control(name='message', rows='8', placeholder='Your Message Here')
                .form-group.col-md-12
                  div#divConatactusError(class='alert alert-danger')
                    label#errmsg
                .form-group.col-md-12
                  input#btnsubmit.btn.btn-primary.pull-right(type='button', name='submit', value='Submit') 
          .col-sm-4
            .contact-info
              h2.title.text-center Contact Info
              address
                p Salon Master
                p 935 W. Webster Ave New Streets Chicago, IL 60614, NY
                p Newyork USA
                p Mobile: +2346 17 38 93
                p Fax: 1-714-252-0026
                p Email: info@salonmaster.com
script(src='/js/contactus.js')
include footer