doctype html
html
  head
  body
    .header_top
      .container
        .row
          .col-sm-6
            .contactinfo
              ul.nav.nav-pills
                li &copy Copyright @ Salon Master