doctype html
html
  body
    .header_top
      .container
        .row
          .col-sm-6
            .contactinfo
              ul.nav.nav-pills
                li &copy Copyright @ Salon Master
          .col-sm-6
            .social-icons.pull-right
              ul.nav.navbar-nav
                li
                  a(href='')
                    i.fa.fa-facebook
                li
                  a(href='')
                    i.fa.fa-twitter
                li
                  a(href='')
                    i.fa.fa-linkedin
                li
                  a(href='')
                    i.fa.fa-dribbble
                li
                  a(href='')
                    i.fa.fa-google-plus