include header
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Login | Salon Master
  body
    section#Loginform
      .container
        .row
          .col-sm-4.col-sm-offset-1
            .login-form
              h2 Login
              form(action='/users/login', method='post')
                div
                  div
                    input#txtLoginUserEmailID(type='text', name='txtLoginUserEmailID', placeholder='User Name')
                  div
                    input#txtLoginPassword(type='password', placeholder='Password', name='txtLoginPassword')
                  div
                    span
                      input.checkbox(type='checkbox')
                      |                                         Keep me signed in
                    div(style='float: right')
                      a(href='#') Forgot Password ?
                    #divResult.alert.alert-danger(style='height: 50px; display: none;')
                      label#lblError
                    button#btnLogin(type='submit') Login
          .col-sm-1
            h2.or OR
          .col-sm-4
            .signup-form
              h2 New User ?, Signup!
              form(action='/users/add', method='post')
                .col-sm-12
                  input#txtName(type='text', placeholder='Name', name='name')
                .col-sm-12
                  input#txtUserEmailid(type='email', placeholder='Email Address', name='email')
                .col-sm-6
                  input#txtUserName(type='text', placeholder='User Name', name='username', onchange='Chk()')
                .col-sm-6
                  input#txtUserMobileNum(type='text', placeholder='Mobile Number', maxlength='10', name='phno')
                .col-sm-6
                  input#txtUserPassword(type='password', placeholder='Password', name='password')
                .col-sm-6
                  input#txtConifemPwd(type='password', placeholder='Confirm Password')
                .col-sm-6
                  input#txtArea(type='text', placeholder='Area', name='area')
                .col-sm-6
                  input#txtCity(type='text', placeholder='City', name='city')
                .col-sm-6
                  input#txtState(type='text', placeholder='State', name='state')
                .col-sm-6
                  input#txtZipcode(type='text', placeholder='Zipcode', name='zipcode')
                .col-sm-12
                  table
                    tr
                      td(style='width: 50%')
                        input#m_radioStyle(type='radio', name='gender', value='Male')
                        span(style='font-size: large') Male
                      td
                        input#f_radioStyle(type='radio', name='gender', value='Female', checked='checked')
                        span(style='font-size: large') Female
                br
                br
                .col-sm-12
                  #divSingup.alert.alert-danger(style='height: 50px; display: none;')
                    label#lblSingUpError
                .col-sm-12
                  button#btnSingup(type='submit') Signup
    script(src='/js/loginScript.js')