doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Login | E-Shopper
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet')
    link(href='css/prettyPhoto.css', rel='stylesheet')
    link(href='css/price-range.css', rel='stylesheet')
    link(href='css/animate.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    link(href='css/responsive.css', rel='stylesheet')
    link(rel='shortcut icon', href='images/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='images/ico/apple-touch-icon-57-precomposed.png')
  body
    header#header
      .header-middle
        .container
          .row
            .col-sm-4
              .logo.pull-left
                a(href='index.html')
                  img(src='images/home/logo.png', alt='')
            .col-sm-8
              .shop-menu.pull-right
                ul.nav.navbar-nav
                  li
                    a.active(href='/')
                      i.fa.fa-lock
                      | Login
      .header-bottom
        .container
          .row
            .col-sm-9
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .mainmenu.pull-left
                ul.nav.navbar-nav.collapse.navbar-collapse
                  li
                    a(href='index.html') Home
                  li
                    a(href='contact-us.html') Salon
                  li
                    a(href='contact-us.html') Map
                  li
                    a(href='contact-us.html') Contact Us
    section#Loginform
      .container
        .row
          .col-sm-4.col-sm-offset-1
            .login-form
              h2 Login
              form(action='/users/login', method='post')
                input(name='username',type='email', placeholder='User Name')
                input(name='password',type='password', placeholder='Password')
                span
                  input.checkbox(type='checkbox')
                  |                                 Keep me signed in
                button.btn.btn-default(type='submit') Login
          .col-sm-1
            h2.or OR
          .col-sm-4
            .signup-form
              h2 New User ?, Signup!
              form(action='#')
                input(type='text', placeholder='Name')
                input(type='email', placeholder='Email Address')
                input(type='password', placeholder='Password')
                input(type='password', placeholder='Confirm Password')
                input(type='text', placeholder='Mobile Number')
                table
                  tr
                    td(style='width: 50%')
                      input#m_radioStyle(type='radio', name='gender', value='Male')
                      span(style='font-size: large') Male
                    td
                      input#f_radioStyle(type='radio', name='gender', value='Female')
                      span(style='font-size: large') Female
                br
                br
                button.btn.btn-default(type='submit') Signup
    .footer_top
      .container
        .row
          .col-sm-6
            .contactinfo
              ul.nav.nav-pills
                li &copy Copyright @ Salon Master
          .col-sm-6
            .social-icons.pull-right
              ul.nav.navbar-nav
                li
                  a(href='')
                    i.fa.fa-facebook
                li
                  a(href='')
                    i.fa.fa-twitter
                li
                  a(href='')
                    i.fa.fa-linkedin
                li
                  a(href='')
                    i.fa.fa-dribbble
                li
                  a(href='')
                    i.fa.fa-google-plus
    script(src='js/jquery.js')
    script(src='js/price-range.js')
    script(src='js/jquery.scrollUp.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.prettyPhoto.js')
    script(src='js/main.js')