include header
doctype html
html(style='height:100%')
  head
    script(src='https://maps.googleapis.com/maps/api/js')
    script(type='text/javascript', src='js/map_js.js')
  body(style='height:100%')
    #map(style='height:90%;width: 90%;')
    br
include footer