<!DOCTYPE html>
<html style="height:100%">

  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="js/map_js.js"></script>
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body style="height:100%">

    <div id="map" style="height:90%;width: 90%;">
		
    </div>
  </body>
</html>
