
            .rating{
                overflow: hidden;
                vertical-align: bottom;
                display: inline-block;
                height: 25px;
              
            }
            .rating > input{
                opacity: 0;
               // margin-right: -100%;
            }
            .rating > label{
                position: relative;
                display: block;
                float: right;
                background: url('../images/star/star-off-big.png');
                background-size: 20px 20px;
                background-repeat: no-repeat;
            }
            .rating > label:before{
                display: block;
                opacity: 0;
                content: '';
                width: 30px;
                height: 30px;
                background: url('../images/star/star-on-big.png');
                background-size: 20px 20px;
                transition: opacity 0.2s linear;
                background-repeat: no-repeat;
            }
            .rating > label:hover:before,
            .rating > label:hover ~ label:before,
            .rating:not(:hover) > :checked ~ label:before{
                opacity: 1;
                cursor: pointer;
            }


            .fixrating{
                overflow: hidden;
                vertical-align: bottom;
                display: inline-block;
                height: 25px;
              
            }
            .fixrating > input{
                opacity: 0;
               // margin-right: -100%;
            }
            .fixratingoff{
                position: relative;
                display: block;
                float: right;
                background: url('../images/star/star-off-big.png');
                background-size: 20px 20px;
                background-repeat: no-repeat;
            }
            .fixratingon{
                display: block;
                opacity: 0;
                content: '';
                width: 30px;
                height: 30px;
                background: url('../images/star/star-on-big.png');
                background-size: 20px 20px;
                transition: opacity 0.2s linear;
                background-repeat: no-repeat;
            }
            .fixrating:not(:hover) > :checked ~ label:before{
                opacity: 1;
                cursor: pointer;
            }